# Dependencies
node_modules

# Build output
dist
build

# Generated documentation
# /docs/puml/

# IDE
# .idea
.vscode
/assets/
/common/tmp_decode_debug.ts
/common/bun.lock
/react/package-lock.json
/react/bun.lock
