# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

/server/node_modules/
/rust/target/
/chessbuddy
/zap/zig-cache/
/zap/zig-out/

public/bundle.js
/wc/dist/
/wc/node_modules/
/react/node_modules/
/react/build/
/common/node_modules/
/oldcb/
/test/
/common/bun.lockb
/react/bun.lockb
/wc/bun.lockb
/common/package-lock.json
/react/package-lock.json
/wc/package-lock.json
