body {
  margin: 0px;
  padding: 0px;
}
#root {
  margin: 0px;
  padding: 0px;
}
.App {
  border-width: 1px;
  border-style: dotted;
  width: 1020px;
  height: 656px;
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
}

.AppLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 602px;
}

.AppRight {
  display: flex;
  flex-direction: column;
  width: 418px;
  text-align: center;
}

.Player,
.PlayerRight {
  font-size: 1.3em;
  height: 28px;
  margin: 0px;
  padding: 0px;
}

.PlayerRight {
  text-align: right;
}

.Rotate {
  transform: rotate(90deg);
}

.Dialog {
  text-align: center;
  font-size: 1.4em;
}

.Panel {
  width: 100%;
  height: 50px;
}

.History,
.Log {
  margin: 1px;
  width: 416px;
}

.History table,
.Log table {
  table-layout: fixed;
  width: 100%;
  overflow: visible;
  -webkit-overflow-scrolling: touch;
}
.History td {
  padding: 3px;
  text-align: center;
  font-size: 1.2em;
}
.Log td {
  padding: 2px;
  text-align: left;
  font-size: 0.9em;
}
.Log td:first-child {
  width: 120px;
}
.Log td:last-child {
  width: 20px;
}

.NumberCell {
  width: 20px;
}
.NumberCell span {
  color: rgb(75, 31, 31);
  font-size: 0.8em;
}

.MarkCell {
  background-color: aquamarine;
}
.MarkRow td {
  background-color: aquamarine;
}

.ConfigTableContainer {
  margin: 1px;
}
.ConfigTable {
  table-layout: fixed;
}
.ConfigTable td {
  padding: 3px;
  text-align: center;
  font-size: 1.2em;
}

.Button {
  margin: 5px;
  height: 56px;
  flex-grow: 1;
}

.Buttons {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.Config {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 800px;
  height: 500px;
}

.BotSelector {
  margin: 10px;
  display: inline-block;
  font-size: 1.4em;

  label {
    margin-right: 10px;
  }
}

.lightSquare {
  background-color: rgb(240, 217, 181);
}
.darkSquare {
  background-color: rgb(240, 217, 181);
}
