body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}

.App {
  width: 1024px;
  height: 750px;
  background-color: rgb(225, 255, 225);
  border-width: 0;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

.CP {
  width: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.CPWHITE {
  writing-mode: vertical-lr;
  text-align: center;
  background-color: white;
  color: black;
}

.CPBLACK {
  writing-mode: vertical-lr;
  text-align: center;
  background-color: black;
  color: white;
}

.AppLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.AppRight {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.Player,
.PlayerRight {
  height: 25px;
  font-size: 1.3em;
  margin: 0;
  padding: 4px;
}

.PlayerRight {
  text-align: right;
}

.Rotate {
  transform: rotate(90deg);
}

.Dialog {
  text-align: center;
  font-size: 1.4em;
}

.DialogActions {
  text-align: center;
  flex-direction: row;
}

.ConfigTabs {
  background-color: rgb(135, 255, 135);
}

.Panel {
  width: 100%;
}

.History,
.Log {
  margin: 0;
  width: 100%;
  overflow: auto;
}

.History table,
.Log table {
  table-layout: fixed;
  width: 100%;
}

.History td {
  padding: 3px;
  text-align: center;
  font-size: 1.2em;
}

.Log td {
  padding: 2px;
  text-align: left;
  font-size: 0.9em;
}

.Log td:first-child {
  width: 120px;
}

.Log td:last-child {
  width: 20px;
}

.NumberCell {
  width: 20px;
}

.NumberCell span {
  color: rgb(75, 31, 31);
  font-size: 0.8em;
}

.MarkCell {
  background-color: aquamarine;
}

.MarkRow td {
  background-color: aquamarine;
}

.ConfigTableContainer {
  margin: 1px;
}

.ConfigTable {
  table-layout: fixed;
}

.ConfigTable td {
  padding: 3px;
  text-align: left;
  font-size: 1.2em;
}

.Button {
  height: 56px;
  flex-grow: 1;
  background-color: darkgreen;
}

.Buttons {
  display: flex;
  flex-direction: row;
}

.Selector {
  min-width: 200px;
}

.ListSection {
  border: 1px solid darkgreen;
  margin: 2px;
  padding: 2px;
}

.AddSection {
  background-color: rgb(235, 255, 235);
  border: 2px solid darkgreen;
  margin: 5px;
  padding: 5px;
}

.Config {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 650px;
  height: 400px;
}

.Config DIV {
  text-align: left;
}

.lightSquare {
  background-color: rgb(240, 217, 181);
}

.darkSquare {
  background-color: rgb(240, 217, 181);
}

.Hidden {
  display: none;
}

// iPad - also needs to set chessboard width 600px - Chrome takes 112 pixels from height
// Use Safari with full screen
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .App {
    background-color: rgb(240, 223, 223);
  }
}
