body {
  margin: 1px;
  padding: 1px;
}
#root {
  margin: 1px;
}
.App {
  border-width: 2px;
  border-style: dotted;
  width: 1200px;
  height: 768px;
  display: flex;
  flex-direction: row;
}

.AppLeft {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 705px;
}

.AppRight {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
}

.Player,
.PlayerRight {
  font-size: 1.2em;
  height: 34px;
  margin: 0px;
}

.PlayerRight {
  text-align: right;
}

.Rotate {
  transform: rotate(90deg);
}

.Dialog {
  text-align: center;
  font-size: 1.4em;
  height: '400px';
}

.Panel {
  width: 490px;
  height: 50px;
}

.HistoryTable {
  table-layout: fixed;
  width: 100%;
  overflow: visible;
}

.HistoryTable td {
  padding: 3px;
  text-align: center;
  font-size: 1.2em;
}

.MarkCell {
  background-color: aquamarine;
}
.MarkRow td {
  background-color: aquamarine;
}

.History {
  margin: 1px;
}

.ConfigTableContainer {
  margin: 1px;
}
.ConfigTable {
  table-layout: fixed;
}
.ConfigTable td {
  padding: 3px;
  text-align: center;
  font-size: 1.2em;
}

.Button {
  margin: 5px;
  height: 46px;
  flex-grow: 1;
}

.Buttons {
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.Config {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.BotSelector {
  margin: 10px;
  display: inline-block;
  font-size: 1.4em;

  label {
    margin-right: 10px;
  }
}
